.navbar-brand img {
 
    height: 40px;
   
    }
 
    .user-profile-button {
        background: transparent;
        border: none;
      }
     
      .user-profile-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0; /* Align to the right */
        background-color: #343a40;
        padding: 10px;
        list-style: none;
        width: 150px; /* Adjust as needed */
        z-index: 1000;
      }
     
      .nav-item:hover .user-profile-menu {
        display: block;
      }
     
      .user-profile-menu li a {
        display: block;
        color: white;
        padding: 8px;
        text-decoration: none;
      }
     
      .user-profile-menu li a:hover {
        background-color: #495057;
      }
 
      .profile-card {
        position: absolute; /* Changed from fixed to absolute */
        top: 100%; /* Position below the button */
        right: 0; /* Align to the right */
        width: 300px;
        z-index: 1000;
        background-color: white;
        border: 1px solid #dee2e6;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateX(calc(100% - 300px)); /* Move left to align right edge */
      }
 