<footer class="bg-primary text-white py-3 mt-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-auto mb-3 mb-md-0">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a class="text-white" href="#">About Us</a></li>
            <li class="list-inline-item"><span class="text-muted px-2">|</span></li>
            <li class="list-inline-item"><a class="text-white" href="#">Subsidiaries</a></li>
            <li class="list-inline-item"><span class="text-muted px-2">|</span></li>
            <li class="list-inline-item"><a class="text-white" href="#">Corporate Governance</a></li>
            <li class="list-inline-item"><span class="text-muted px-2">|</span></li>
          </ul>
        </div>
      </div>
      <hr class="bg-secondary my-3">
      <div class="row">
        <div class="col-md-2 mb-3 mb-md-0">
          <h6 class="text-uppercase">Home</h6>
          <ul class="list-unstyled">
            <li><a class="text-white-50" href="#">Forex Card Rates</a></li>
            <li><a class="text-white-50" href="#">Interest Rates</a></li>
            <li><a class="text-white-50" href="#">Download Forms</a></li>
            <li><a class="text-white-50" href="#">Corporate Social Responsibility</a></li>
            
          </ul>
        </div>
        <div class="col-md-2 mb-3 mb-md-0">
          <h6 class="text-uppercase">NRI</h6>
          <ul class="list-unstyled">
            <li><a class="text-white-50" href="#">Accounts</a></li>
            <li><a class="text-white-50" href="#">Investments</a></li>
            <li><a class="text-white-50" href="#">Loans</a></li>
            
          </ul>
        </div>
        <div class="col-md-2 mb-3 mb-md-0">
          <h6 class="text-uppercase">Personal</h6>
          <ul class="list-unstyled">
            <li><a class="text-white-50" href="#">Savings Account</a></li>
            <li><a class="text-white-50" href="#">Loans</a></li>
            <li><a class="text-white-50" href="#">Investments & Deposits</a></li>
        
          </ul>
        </div>
        <div class="col-md-2 mb-3 mb-md-0">
          <h6 class="text-uppercase">International Banking</h6>
          <ul class="list-unstyled">
            <li><a class="text-white-50" href="#">Banking</a></li>
            <li><a class="text-white-50" href="#">Credit Finance</a></li>
            <li><a class="text-white-50" href="#">Services</a></li>
          </ul>
        </div>
        <div class="col-md-2 mb-3 mb-md-0">
          <h6 class="text-uppercase">Business</h6>
          <ul class="list-unstyled">
            <li><a class="text-white-50" href="#">CAG & MCG</a></li>
            <li><a class="text-white-50" href="#">Current Account</a></li>
            
          </ul>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase">Wealth Management</h6>
          <ul class="list-unstyled">
            <li><a class="text-white-50" href="#">SBI Wealth</a></li>
            <li><a class="text-white-50" href="#">Products</a></li>
          </ul>
        </div>
      </div>
      <hr class="bg-secondary my-3">
      <div class="row">
        <div class="col-12">
          <p class="mb-0">
            <strong>IMPORTANT :</strong> State Bank of India never ask for your user id / password / pin no . through phone call / SMSes / e - mails . Any such phone call / SMSes / e - mails asking you to reveal credential or One Time Password (OTP) could be attempt to withdraw money from your account.NEVER share these details to anyone . State Bank of India wants you to be secure . If you come across any such instances please inform us through e-mail to the following address- <a href="mailto:epg.cms@sbi.co.in">epg.cmssbi.co.in</a>
          </p>
        </div>
      </div>
      <hr class="bg-secondary my-3">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-start">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a class="text-white" href="#"><i class="bi bi-pinterest"></i></a></li>
            <li class="list-inline-item"><a class="text-white" href="#"><i class="bi bi-linkedin"></i></a></li>
            <li class="list-inline-item"><a class="text-white" href="#"><i class="bi bi-facebook"></i></a></li>
            <li class="list-inline-item"><a class="text-white" href="#"><i class="bi bi-youtube"></i></a></li>
           
          </ul>
        </div>
    
      </div>
    </div>
  </footer>